.main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.profile-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.reviews-box {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
}

.left-column {
    height: 100%;
    padding: 20px;
}

.right-column {
    width: 75%;
    height: 100%;
    padding: 20px;
}

.info-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.avatar-box {
    width: 300px;
    height: 300px;
    border: 3px solid darkgrey;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-button {
    margin-top: 15px;
    width: 300px;
}

@media (max-width: 850px) {
    .profile-box {
        display: block !important;
        height: auto !important;
    }

    .main-box {
        display: block !important;
        height: auto !important;
    }

    .reviews-box {
        margin-top: 20px;
        width: 100%;
    }

    .left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .right-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }

    .avatar-box {
        width: 90%;
    }

    .logout-button {
        width: 90%;
    }
}